* {
    margin: 0;
    padding: 0;
    border: 0;
}

.index-bg {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 100px;
    width: 200px;
    position: fixed;
}
.content.show-false{ 
    display: none;
}

.text{
    text-align: center;
}
.btn{
    margin:40px 0;
    height:60px;
    width:200px;
    line-height: 60px;
    text-align: center;
    border:1px black solid;
    border-radius: 5px;
    font-size:18px;
}
 